streamlit>=1.28.1
python-dateutil>=2.8.2
pandas>=2.0.3
openpyxl>=3.1.2
insightface>=0.7.3
onnxruntime>=1.16.3
opencv-python-headless>=4.8.1.78
numpy<2.0.0
setuptools
streamlit-webrtc>=0.47.1
av>=10.0.0
tornado<6.4
